* {
    box-sizing: border-box;
}

:root{
    --title-color: #3D3D3D;
    --accent-color: #46A358;
    --secondary-color: #727272;
    --button-text-color: #FFFFFF;
    --bg--button-color: #46A358;
    --bg--button-border-color: #46A358;
    --bg--blog-color: #FBFBFB;

    --font-sm: 14px;
    --font-md: 20px;
    --font-xl: 30px;

    --categories-full-width: 1202px;
    --blog-categories-gap-width: 28px;
    --blog-category-full-width: calc(var(--categories-full-width)/2 - var(--blog-categories-gap-width)/2);

    --posts__content-full-width: 1202px;
    --posts__content-gap-width: 43px;
    --posts__post-full-width: calc(var(--posts__content-full-width)/4 - var(--posts__content-gap-width)/1.33);
}

body{
    font-family: "Radio Canada Big", sans-serif;
    font-size: var(--font-sm);
}

a{
    text-decoration: none;
}

.title{
    font-weight: bold;
}

.text--description{
    font-size: var(--font-sm);
    color: var(--secondary-color);
}

.container{
    max-width: 1440px;
    max-height: 1024px;
    margin: 0 auto;
}

.blog{
    margin: 69px 120px 80px;
    min-width: 1200px;
}

.blog__plants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 138px;
}

.blog__shop{
    display: flex;
    width: var(--blog-category-full-width);
}

.blog__shop--image{
    width: 50%;
}

.blog__shop--text{
    width: 50%;
}

.blog__shop--title{
    font-size: var(--font-md);
    text-align: right;
    margin: 37px 0 9px;
}

.blog__shop--description{
    font-size: var(--font-sm);
    text-align: right;
}

.btn--discover{
    display: flex;
    margin-top: 25px;
    margin-left: auto;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    color: var(--button-text-color);
    background-color: var(--bg--button-color);
    border-color: var(--bg--button-border-color);
}

.btn__text--discover{
    padding: 11px 2px 9px 28px;
}

.btn__icon--discover{
    padding: 11px 0 8px 0;
}

.blog__posts--title{
    display: flex;
    justify-content: center;
    font-size: var(--font-xl);
}

.blog__posts--description{
    display: flex;
    justify-content: center;
    margin: 0 0 35px;
}

.blog__posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__post{
    width: var(--posts__post-full-width);
    background-color: var(--bg--blog-color);
}

.blog__posts--text{
    margin: 12px;
}

.blog__posts--image{
    width: 100%;
}

.blog__posts--about{
    font-size: var(--font-sm);
    color: var(--accent-color);
}

.blog__posts--name{
    font-size: var(--font-md);
    color: var(--title-color);
}

.btn--expand{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--bg--blog-color);
    padding: 9px 0 0 0;
}

.btn__text--expand{
    font-size: var(--font-sm);
    color: var(--title-color);
    padding: 0 3px 0 0;
}

.btn__icon--expand{
    width: 16px;
}

